{% for host in hosts %}
    {{ host.name }}:
      ansible_host: {{ host.private_ip }}
      ansible_ssh_private_key_file: "{{ ssh_key_path }}/{{ host }}.pem"
{% endfor %}

{% for node_group in node_groups %}
{{ node_group.name }}:
  hosts:
{% for node in node_group.hosts %}
    {{ node }}:
{% endfor %}
{% if cluster.node_groups[node_group.name] is defined and cluster.node_groups[node_group.name].kubespray is defined %}
  vars:
{% for key, value in cluster.node_groups[node_group.name].kubespray.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}

{% endfor %}

kube_node:
  children:
{% for node_group in node_groups %}
{% if node_group.name != 'kube_control_plane' %}
    {{ node_group.name }}:
{% endif %}
{% endfor %}

k8s_cluster:
  children:
    kube_control_plane:
    kube_node:
