{% for host in hosts %}
    {{ host.name }}:
      ansible_host: {{ host.private_ip }}
      ansible_ssh_private_key_file: "{{ ssh_key_path }}/{{ host.name }}.pem"
      provider_id: {{ host.id }}
{% endfor %}

{% for nodegroup in nodegroups %}
{% if nodegroup.hosts is defined %}
{{ nodegroup.name }}:
  hosts:
{% for node in nodegroup.hosts %}
    {{ node.name }}:
{% endfor %}
  vars:
    nodegroup: {{ nodegroup.name }}
{% set spec = cluster.nodegroups | selectattr('name', 'equalto', nodegroup.name) | first %}
{% if  spec.kubespray is defined %}
{{ spec.kubespray | to_nice_yaml(indent=2) | indent(width=4, indentfirst=True) }}
{% endif %}
{% endif %}

{% endfor %}

kube_node:
  children:
{% for nodegroup in nodegroups %}
{% if nodegroup.name != 'kube_control_plane' %}
    {{ nodegroup.name }}:
{% endif %}
{% endfor %}

etcd:
  children:
    kube_control_plane:

k8s_cluster:
  children:
    kube_control_plane:
    kube_node:
