logs
artifacts
tenants.*
ssh-main-gateway.conf
library/safescale
apps/**/resources.txt
roles/image/files/output/
__pycache__
generated_inventory_vars.yaml
scaler/build
scaler/ansible_resources
.vscode