# The distinguished name of the search base.
base dc=cluster,dc=local

# Another way to specify your LDAP server is to provide an uri
uri {{ ldap_server_url }}

# The LDAP version to use (defaults to 3
# if supported by client library)
ldap_version 3

# here we use groupOfNames attribute member
# to collect group membership information
# instead of memberUid from posixGroup
# this is possible using RFC-2307bis
nss_map_attribute uniqueMember member

# Do not hash the password at all; presume
# the directory server will do it, if
# necessary. This is the default.
pam_password md5

{% if ldap_admin_password is defined %}
# The distinguished name to bind to the server with.
# Optional: default is to bind anonymously.
binddn cn=admin,dc=cluster,dc=local
# The credentials to bind with. 
# Optional: default is no credential.
bindpw {{ ldap_admin_password }}

# The distinguished name to bind to the server with
# if the effective user ID is root. Password is
# stored in /etc/ldap.secret (mode 600)
rootbinddn cn=admin,dc=cluster,dc=local
{% endif %}
