{
    "variables":
    {
      "cpu": "2",
      "ram": "2048",
      "name": "ubuntu",
      "guest_os_type": "Ubuntu_64",
      "disk_size": "6500M",
      "version": "20.04",
      "iso_checksum_type": "sha256",
      "iso_urls": "{{ iso_url }}",
      "iso_checksum": "{{ iso_checksum }}",
      "ssh_username": "safescale",
      "ssh_private_key_file": "{{ ssh_key_dir.path }}/ssh_rsa_2048"
    },

    "builders": [
        {
            "name": "{{ qcow2_name }}",
            {%- raw %}
            "type": "qemu",
            "format": "qcow2",
            "qemuargs": [
                [ "-m", "{{user `ram`}}M" ],
                [ "-smp", "{{user `cpu`}}" ],
                ["-serial", "mon:stdio"],
                {% endraw -%}
                ["-fda", "{{ cloud_img.path }}"]],
            {%- raw %}
            "communicator": "ssh",
            "ssh_wait_timeout": "300s",
            "ssh_username": "{{user `ssh_username`}}",
            "ssh_private_key_file": "{{ user `ssh_private_key_file`}}",
            "headless": true,
            "iso_urls": "{{user `iso_urls`}}",
            "iso_checksum": "{{user `iso_checksum`}}",
            {% endraw -%}
            "output_directory": "{{ playbook_dir }}/../roles/image/files/output/image/",
            {%- raw %}
            "disk_size": "{{user `disk_size`}}",
            {% endraw -%}
            "disk_compression": true,
            "disk_interface": "virtio",
            "net_device": "virtio-net",
            "accelerator": "{{ packer_accelerator | default("none", true) }}",
            "disk_image": true,
            "shutdown_command": "rm -f /home/safescale/*.txt && rm -f /home/safescale/.ssh/authorized_keys && sudo rm -f /root/.ssh/authorized_keys && sudo -S shutdown -P now"
        }
    ],
    "provisioners": [
        {
            {%- raw %}
            "type": "shell",                    
            "execute_command": "echo 'root' | sudo -S bash -c '{{ .Vars }} {{ .Path }}'",
            "expect_disconnect": true,
            {% endraw -%}
            "scripts": [
                "{{ playbook_dir }}/../roles/image/files/scripts/base.sh",
                "{{ playbook_dir }}/../roles/image/files/scripts/ntpd.sh",
                "{{ playbook_dir }}/../roles/image/files/scripts/certificate-authority.sh",
                "{{ container_runtime.path }}",
                "{{ playbook_dir }}/../roles/image/files/scripts/list.sh"
            ]
        },
        {
            {%- raw %}
            "type": "shell",                    
            "execute_command": "echo 'root' | sudo -S bash -c '{{ .Vars }} {{ .Path }}'",
            "expect_disconnect": true,
            {% endraw -%}
            "script": "{{ playbook_dir }}/../roles/image/files/scripts/security.sh"
        },
        {
            {%- raw %}
            "type": "file",
            "direction": "download",
            "source": "/home/safescale/*",
            {% endraw -%}
            "destination": "{{ playbook_dir }}/../roles/image/files/output/"
        }
    ]
}
