{% for host in hosts %}
    {{ host.name }}:
      ansible_host: {{ host.private_ip }}
      ansible_ssh_private_key_file: "{{ ssh_key_path }}/{{ host.name }}.pem"
      provider_id: {{ host.id }}
{% endfor %}

{% for nodegroup in nodegroupsnodes %}
{{ nodegroup[0].value | replace('-', '_') }}:
  hosts:
{% for node in nodegroup %}
    {{ node.name }}:
{% endfor %}
  vars:
    nodegroup: {{ nodegroup[0].value | replace('-', '_') }}
{% set spec = cluster.nodegroups | selectattr('name', 'equalto', nodegroup[0].value) | first %}
{% if  spec.kubespray is defined %}
{{ spec.kubespray | to_nice_yaml(indent=2) | indent(width=4, indentfirst=True) }}
{% endif %}

{% endfor %}

kube_node:
  children:
{% for nodegroup in nodegroups %}
{% if nodegroup != 'kube_control_plane' %}
    {{ nodegroup | replace('-', '_') }}:
{% endif %}
{% endfor %}

etcd:
  children:
    kube_control_plane:

k8s_cluster:
  children:
    kube_control_plane:
    kube_node:
