Host *
    ProxyCommand ssh -F /dev/null -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -W %h:%p -p 22 {{ safescale_operator }}@{{ main_gateway_ip }} -i {{ ssh_key_path }}/gw-{{ cluster.name }}.pem
    IdentitiesOnly yes
