
[all]
{% for host in hosts %}
{{host}}    ansible_host={{ ip_adresses[loop.index0] }}    ansible_ssh_private_key_file=.ssh/{{ host }}.pem
{% endfor %}

[bastion]
{{ gateways[0] }}    ansible_host={{ bastion_ip }}

[gateway]
{% for gateway in gateways %}
{{ gateway }}
{% endfor %}

[worker]
{% for node in nodes %}
{{ node }}
{% endfor %}

{% if add_ingester %}
[ingester]
{{ ingesters[0] }}

{% endif %}
[kube_control_plane]
{% for master in masters %}
{{ master }}
{% endfor %}

[kube_node:children]
worker
gateway
{% if add_ingester %}
ingester
{% endif %}

[k8s_cluster:children]
kube_control_plane
kube_node

[worker:vars]
node_labels={"node-role.kubernetes.io/worker":"infra"}

[gateway:vars]
node_labels={"node-role.kubernetes.io/gateway":"infra"}
node_taints={"node-role.kubernetes.io/gateway:NoSchedule"}

{% if add_ingester %}
[ingester:vars]
node_labels={"node-role.kubernetes.io/worker":"processing", "node-role.kubernetes.io/gateway":"data-ingester"}
{% endif %}