{# Import applications list #}
app import --uri file://{{ remote_rs_addon_dir.path }}/stream-application-list.properties

{% for stream_definition in stream_definitions %}
{# Remove comments #}
{% set stream_definition = stream_definition | regex_replace(' *#.*$','') %}
{# Skip empty lines #}
{% if stream_definition != "" %}

{# create stream #}
stream create --name {{ stream_name | replace ('.', '-') | replace ('_', '-') }}-part{{ loop.index }} --definition "{{ stream_definition | trim }}"
{# deploy stream #}
stream deploy --platformName {{ stream_namespace | default('default') }} --name {{ stream_name | replace ('.', '-') | replace ('_', '-') }}-part{{ loop.index }} --properties "{{ stream_properties | join(',') }}"
{% endif %}
{% endfor %}
